<div class="panel panel-default">
  <table class="table">
		<tr>
			<th>Title</th>
			<th >Sub-Title</th>
			<th>Body</th>
			<th colspan="2"></th>
		</tr>

		<% pages.each do |page| %>
			<tr>
				<td><%= page.title %></td>
				<td><%= page.sub_title %></td>
				<td><%= page.body.html_safe %></td>
				<td>
				<%- if page.pageable %>
					<%= link_to edit_admin_chapter_page_path(page.pageable, page) do %>
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					<% end %>
				<%- else %>
					<%= link_to edit_admin_page_path(page) do %>
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					<% end %>
				<%- end %>
				</td>
				<td>
        <%= link_to admin_page_path(page), method: :delete, data: { confirm: 'Are you sure?' } do%>
          <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
        <%- end %>
				</td>
			</tr>
		<% end %>
	</table>
</div>
