<% if @pageable %>
	<h1>Edit <%= @pageable.name %> <%= @page.pageable_type %> Page</h1>
	<%= render 'form_polymorphic', :pageable => @pageable %>
<% else %>
	<h1>Edit <%= @page.title %> Page</h1>
	<%= render 'form' %>
<% end %>
