<%= render 'banner' %>

<br><br>

<content>
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<%= render 'main_navigation' %>
				<div class="large-9 medium-9 columns">

					<hr class="top-hr" />
						<h3><%= @page.sub_title %></h3>
					<hr />

					<p><%= @page.body.html_safe %></a>

					<hr />

				</div>
			</div>
		</div>
	</div>
</content>

<%= render 'footer' %>

<script>
	$(document).foundation();
</script>
