<% if @chapter.page %>
	<h2>Page</h2>
	<p>
		<strong>Title:</strong>
		<%= @chapter.page.title %>
	</p>
	
	<p>
		<strong>Sub-Title:</strong>
		<%= @chapter.page.sub_title %>
	</p>

	<p>
		<strong>Body:</strong>
		<%= @chapter.page.body %>
	</p>

	<%= link_to 'Edit Page', edit_chapter_page_path(@chapter, @chapter.page) %>
	<%= link_to 'Delete Page', [@chapter, @chapter.page],
		method: :delete,
		data: { confirm: 'Are you sure?' }
	%>
<% else %>
	<h2>Add a Page:</h2>
	<%= render :partial => 'pages/form_polymorphic', :locals => {:pageable => @chapter} %>
<% end %>
