<h1>New Chapter</h1>

<%= form_for :chapter, url: chapters_path do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :state %><br>
		<%= f.text_field :state %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
