<p>
	<strong>Name:</strong>
	<%= @chapter.name %>
</p>
 
<p>
	<strong>State:</strong>
	<%= @chapter.state.titleize_name %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>


<%= render 'form_for_page' %>

