<p>
	<strong>Name:</strong>
	<%= @chapter.name %>
</p>
 
<p>
	<strong>State:</strong>
	<%= @chapter.state.name %>
</p>

<% if @chapter.page %>
	<h2>Page</h2>
	<p>
		<strong>Title:</strong>
		<%= @chapter.page.title %>
	</p>
	
	<p>
		<strong>Sub-Title:</strong>
		<%= @chapter.page.sub_title %>
	</p>

	<p>
		<strong>Body:</strong>
		<%= @chapter.page.body %>
	</p>
<% else %>
	<h2>Add a Page:</h2>
	<%= form_for([@chapter, @chapter.build_page]) do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :sub_title %><br>
		<%= f.text_field :sub_title %>
	</p>
	<p>
		<%= f.label :body %><br>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit %>
	</p>
	<% end %>
<% end %>


<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
