<%= form_for [:admin, @user] do |f| %>
	<%- if @user.errors.any? %>
		<div class="alert alert-warning" role="alert">
			<h2>
				<%= pluralize(@user.errors.count, "error") %> prohibited
				this chapter from being saved:
			</h2>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<%- end %>

  <fieldset class="form-group">
    <%= f.label :name_first, 'First Name' %>
	  <div class="input-group">
      <%= f.text_field :name_first, class: "form-control", placeholder: "First Name", :'aria-describedby' => "Member's first name"%>
	  </div>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :name_last, 'Last Name' %>
	  <div class="input-group">
      <%= f.text_field :name_last, class: "form-control", placeholder: "Last Name", :'aria-describedby' => "Member's last name"%>
	  </div>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :email %>
	  <div class="input-group">
      <%= f.text_field :email, class: "form-control", placeholder: "Email Address", :'aria-describedby' => "Member's email address"%>
	  </div>
  </fieldset>

  <fieldset class="form-group">
		<%= f.label :chapter %>
		<%= f.collection_select :chapter_id, Chapter.order(:name), :id, :titleize_name, prompt: true, class: 'form-control' %>
  </fieldset>

	<p>
	<div class="input-group">
		<%= f.submit "Save", class: "btn btn-primary btn-sm " %>
		<%#= link_to 'Back', admin_chapters_path, class: 'btn btn-default btn-sm'%>
	</div>
<%- end %>
