<%= form_for [:admin, @chapter] do |f| %>
	<% if @chapter.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@chapter.errors.count, "error") %> prohibited
				this chapter from being saved:
			</h2>
			<ul>
				<% @chapter.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :state %><br>
		<%= f.collection_select :state_id, State.order(:name), :id, :titleize_name, prompt: true %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
