<%= form_for [:admin, @chapter] do |f| %>
  <%- if @chapter.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <h2>
        <%= pluralize(@chapter.errors.count, "error") %> prohibited
        this chapter from being saved:
      </h2>
      <ul>
        <% @chapter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <%- end %>

  <div class="input-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Chapter Name", :'aria-describedby' => "Name of Chapter"%>
  </div>

  <p>
    <%= f.label :state %><br>
    <%= f.collection_select :state_id, State.order(:name), :id, :titleize_name, prompt: true %>
  </p>

  <p>
  <div class="input-group">
    <%= f.submit "Save", class: "btn btn-primary btn-sm " %>
    <%= link_to 'Back', admin_chapters_path, class: 'btn btn-default btn-sm'%>
  </div>
<%- end %>
