<p>
	<strong>Name:</strong>
	<%= @chapter.name %>
</p>
 
<p>
	<strong>State:</strong>
	<%- if @chapter.state %>
		<%= @chapter.state.titleize_name %>
	<%- else %>
		Chapter not associated with a State
	<%- end %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>


<%= render 'form_for_page' %>
